:css
  path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
  }

  line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }

%h1 Twob
%button#btn-update Add data
#twob_chart.chart-example

